* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F6F6F6;
}

.mainDiv{
    display: flex;
    flex-direction: row;
}


.menu-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 40px;
}

.menu-slider p{
    font-family: Rosarivo;
    font-size: 20px;
    color:#665050;
}

.slider-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 140px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.selected-slider-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 140px;
    border-radius: 20px;
    gap:10px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #AC8F64;
}

.selected-slider-card img,
.selected-slider-card p,
.selected-slider-card svg{
    background-color: #AC8F64;
}

.selected-slider-card p{
    color: #483431;
}

.slider-card img,
.slider-card p,
.slider-card svg{
    background-color: #FFFFFF;
}

.slider-card img{
    width: 61px;
    height: 50px;
}

.slider-card:hover{
    cursor: pointer;
}

.selected-slider-card:hover
{
    cursor: pointer;
}


.menu-main{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-top: 40px;
}

.header-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.menu-search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
    justify-content: space-between;
    align-items: center;
    background-color: #DADADA;
    width: 70%;
    height: 83px;
    border-radius: 30px;
}

.menu-search input
{
    border: none;
    outline: none;
    width: 88%;
    height: 100%;
    margin-left: 3%;
    font-family: Rosarivo;
    font-size:25px;
    background-color: #DADADA;
}


.menu-search svg{
    fill:#0000004D;
    margin-right: 30px;
    background-color: #DADADA;
}

.menu-search svg:hover{
    fill:black;
}

.order-status{
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-self: center;
    margin-left: 40px;
    gap:30px;
}