* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #F6F6F6;
}



.mainDiv{
    display: flex;
    flex-direction: row;
}


.menu-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 40px;
    margin-right: 40px;
}

.menu-slider p{
    font-family: Rosarivo;
    font-size: 20px;
    color:#665050;
}

.slider-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 140px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.selected-slider-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 140px;
    border-radius: 20px;
    gap:10px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #AC8F64;
}

.selected-slider-card img,
.selected-slider-card p,
.selected-slider-card svg{
    background-color: #AC8F64;
}

.selected-slider-card p{
    color: #483431;
}

.slider-card img,
.slider-card p,
.slider-card svg{
    background-color: #FFFFFF;
}

.slider-card img{
    width: 61px;
    height: 50px;
}

.slider-card:hover{
    cursor: pointer;
}

.selected-slider-card:hover
{
    cursor: pointer;
}


.menu-main{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-left: 40px;
    margin-top: 40px;
}

.menu-main2{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.header-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 92%;
}

.menu-search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
    justify-content: space-between;
    align-items: center;
    background-color: #DADADA;
    width: 70%;
    height: 83px;
    border-radius: 30px;
}

.menu-search input
{
    border: none;
    outline: none;
    width: 88%;
    height: 100%;
    margin-left: 3%;
    font-family: Rosarivo;
    font-size:25px;
    background-color: #DADADA;
}


.menu-search svg{
    fill:#0000004D;
    margin-right: 30px;
    background-color: #DADADA;
}

.menu-search svg:hover{
    fill:black;
}

.order-status{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap:30px;
}

.order-status p{
    font-size: 20px;
    font-family: Rosarivo;
    color:#483431;
}

.order-status a{
    text-decoration: none;
}

.order-status-img{
    background-color: #AC8F64;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.order-status-img img{
    width: 48px;
    height: 38px;
    background-color: #AC8F64;
}
 

#num{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    font-size: 30px;
    background-color: #CD4126CC;
    border-radius: 50%;
    color:#FFFFFF;
}


.menu-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 90%;
    gap: 80px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    gap:20px
}

.card p{
    font-family: Rosarivo;
    font-size: 30px;
}

.card img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

.instruments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #DADADA;
    width: 133px;
    height: 47px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.instruments p{
    width: 62%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #DADADA;
    font-size: 20px;
    font-family: Open Sans;
}

.plus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
}

button{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #CD4126CC;
    cursor: pointer;
}

.plus svg{
    fill:#1C161E;
}


#selectedCard{
    border: 5px solid #AC8F64;
}

.back-to-menu{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-left: 50px;
}

.back-to-menu svg{
    fill: black;
}

.back-to-menu svg:hover{
    fill: #483431;
}

.back-to-menu p{
    font-size: 20px;
    color: #000000;
    font-family: Rosarivo;
}

.choice-coffee{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap:150px;
}

.infoAboutCoffee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:30px;
}

.size{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.selectSize{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:30px;
}

.sizeCard{
    width: 113px;
    height: 113px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.sizeCard svg{
    fill:#AC8F64;
}

.sizeCard button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.selected-Size-Card button{
    background-color: #AC8F64;
    border: 2px solid black;
}

.selected-Size-Card svg{
    fill:black;
}

.info-p {
    font-size: 14px;
    font-family: Rosarivo;
    color:#00000066;
}

.selectExtra, .selectMilk{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonsExtra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}

.buttonsExtra button{
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 30px;
}

.buttonsExtra button p{
    font-size: 20px;
    font-family: Rosarivo;
    color:#000000;
}

.buttonsExtra button.selected-Extra {
    background-color: #AC8F64;
    border: 2px solid black;
}

.selectCount{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.selectCount p{
    font-size: 60px;
    font-family: Open Sans;
}

.count-but{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 110px;
    height: 40px;
    border-radius: 30px;
}

.count-but p{
    font-size: 30px;
    font-family: Open Sans;
}

.count-but svg{
    fill: #AC8F64;
}

.count-but button{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addCoffee button{
    width: 272px;
    height: 77px;
    border-radius: 50px;
}

.addCoffee button p{
    color:#FFFFFF;
    font-size: 20px;
    font-family: Rosarivo;
}
